{% extends 'base.html' %}
{% load static %}
{% block title %} Tags {% endblock %}
{% block content %}
<div class="section animated-row" data-section="slide02">
                <div class="section-inner">
                    <div class="about-section">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 wide-col-laptop">
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="about-contentbox">
                                            <div class="animate" data-animate="fadeInUp">
                                                <span>Теги</span>
                                                <h2></h2>
                                                <p>Credits go to <strong>Unsplash</strong> and <strong>Pexels</strong> for photos and video used in this template. Vivamus tincidunt, augue rutrum convallis volutpat, massa lacus tempus leo.</p>
                                            </div>
                                            <div class="facts-list owl-carousel">
                                                {% for tag in tags %}
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <i class="" aria-hidden="true"></i> <a href="{% url 'tag_detail' slug=tag.slug %}">{{ tag.title }}</a>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <figure class="about-img animate" data-animate="fadeInUp"><img src="{% static 'images/profile-girl.jpg' %}" class="rounded" alt=""></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}